{% extends "@ESGamingUser/layout.html.twig" %}
{% block corps %}
    <h1>Modification du profil</h1><br><br>
    Image actuelle : <img src="{{ asset(user.picture) }}"/>
    {{ form(form) }}
{% endblock %}