<form action="{{ path('login_check') }}" method="post">
    <div>
        <label for="nickname">Login</label>
        <div>
            <input type="text" id="username" placeholder="Login" name="_username" value="{{ nickname }}" />
        </div>
    </div>

    <div>
        <label for="password">Password</label>
        <div>
            <input type="password" id="password" placeholder="Password" name="_password" />
        </div>
    </div>
    <div>
        <input type="submit" value="Connexion" />
    </div>
</form>
