{% extends "@ESGamingUser/layout.html.twig" %}
{% block corps %}
L'utilisateur d'id {{ user.id }} ( {{ user.nickname }} ) a ete desactive avec succes. <br>

<a href="{{ path('es_gaming_user_all') }}">Retour</a>
{% endblock %}