.row nav.col
{
    z-index: 100;
    margin-top: 20px;
    position: relative;
}

.corps
{
    position:absolute;
    top:0;
}

div.text
{
    color: white;
    margin-left: 30px;
}

div.text h1
{
    font-size: 40px;
    margin-bottom: 0;
}

div.text p
{
    color: #cbcbcb;
    width: 55%;
}

div.slider
{
    z-index:1;
    margin:0;
    padding:0;
    margin-top:-20px;
    height:300px;

}

.slider .indicators .indicator-item.active
{
    background-color: white;
}

.slider .indicators .indicator-item
{
    background-color: gray;
}