.row nav.col
{
    z-index: 100;
    margin-top: 20px;
    position: relative;
}

.corps
{
    position:absolute;
    top:0;
}

div.text
{
    color: white;
    margin-left: 30px;
}

div.text h1
{
    font-size: 40px;
    margin-bottom: 0;
}

div.text p
{
    color: #cbcbcb;
    width: 55%;
}

div.slider
{
    z-index:1;
    margin:0;
    padding:0;
    margin-top:-20px;
}

div.slider ul.slides
{
    height: 600px !important;
}

ul.slide li
{
    position: relative;
}

.slider .slides li .caption
{
    top:65%;
}

div.caption.bottom-align
{
    text-align:center;
    position:absolute;
    height:210px;
    top: auto;
    background-color: rgba(0,0,0,0.6);
    left: 0% !important;
    width: 100% !important;
}

.slider .indicators .indicator-item.active
{
    background-color: white;
}

.slider .indicators .indicator-item
{
    background-color: gray;
}

.indicators {
    z-index: 2;
    bottom: 40px !important;
}

#section0 .fp-tableCell {
    vertical-align: top;
}

#main-features {
    position: absolute;
    bottom: 0px;
}

.main-feature {
    margin: 0px 170px;
    display: inline-block;
}

.image-feature {
    border-radius: 50%;
}

.image-feature img {
    height: 64px;
    width: 64px;
    bottom: 120px;
    position: relative;
}

#twitch-embed {
    top: 100px;
    position: absolute;
}