{% if app.user is empty %}
Home <br><br>
   <a href="{{ path('login') }}">Se Connecter</a>  |  <a href="{{ path('user_register') }}">S'inscrire</a>
{% else %}
   {{ app.user.nickname }}
{% endif %}


